.toggle {
  border: 1px solid #2c2c2c;
  border-radius: 20px;
  background: transparent;
  font-size: 16px;
  transition: all 0.3s;
}

.toggle:hover{
  font-size: 17px;
}

.beige {
  color: beige; 
}

@media screen and (max-width: 768px) {
  .toggle{
    color: white;
  }
}