.hero {
  position: relative;
  background: url(../../../public/img/hero-book.png) no-repeat bottom;
  background-size: cover;
  height: 450px;
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
}
.title {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
  color: black;
  margin-bottom: 40px;
}


@media screen and (min-width: 768px) {
    .container {
       max-width: 1157px;
      }
     .title {
      font-size: 40px;
    }  
    }
   

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1440px;
        padding: 0 70px;
      }
  }

