.container{
  background-color: rgba(0, 0, 0, 0.81);
  height: 300px;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: block;
  justify-content: flex-start;
  width: 150px;
  height: 140px;
}

.txt{
  color: rgb(218, 218, 218);
  font-size: 14px;
  margin-bottom: 30px;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  margin-bottom: 30px;
}

.socials a:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}
.links{
  display: flex;
  gap: 10px;
}

.phone{
  color: rgb(218, 218, 218);
}

@media screen and (min-width: 768px) {
  .container{
  height: 250px;
}
 .socials {
  flex-direction: row;
}
}

@media screen and (min-width: 1158px) {
  .container{
  padding: 0 70px;
  flex-direction: row;
  height: 150px;
}
.txt{
  font-size: 18px;
  margin-bottom: 0;
  margin-left: 100px;
}
.socials {
  margin-bottom: 0;
}
.links{
  display: flex;
  gap: 20px;
}

}