.container{
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  gap: 90px;
  margin: 0 auto;
  width: 100%;
  padding: 0 40px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 1157px;
      }
    }

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1440px;
        padding: 0 70px;
      }
  }

